
.gallery-pagetitle {
  font-family: "Open Sans Condensed", sans-serif;
  color: rgb(50, 68, 122);
  font-size: 30px;
  margin: 20px 0 20px;
  text-align: center;
}

.gallery-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 0 auto 30px;
}

.img-wrap {
  width: 400px;
  height: 300px;
  border: 2px solid rgb(50, 68, 122);
  background-size: cover;
}

// .gallery-img {
//   width: 400px;
//   height: 300px;
// }

.gallery-img-bg1 {
  background-image: url("/img/gallery/gallery-photo-01.jpg");
}
.gallery-img-bg2 {
  background-image: url("/img/gallery/gallery-photo-02.jpg");
}
.gallery-img-bg3 {
  background-image: url("/img/gallery/gallery-photo-03.jpg");
}
.gallery-img-bg4 {
  background-image: url("/img/gallery/gallery-photo-04.jpg");
}
.gallery-img-bg5 {
  background-image: url("/img/gallery/gallery-photo-05.jpg");
}
.gallery-img-bg6 {
  background-image: url("/img/gallery/gallery-photo-06.jpg");
}
.gallery-img-bg7 {
  background-image: url("/img/gallery/gallery-photo-07.jpg");
}
.gallery-img-bg8 {
  background-image: url("/img/gallery/gallery-photo-08.jpg");
}
.gallery-img-bg9 {
  background-image: url("/img/gallery/gallery-photo-09.jpg");
}
.gallery-img-bg10 {
  background-image: url("/img/gallery/gallery-photo-10.jpg");
}
.gallery-img-bg11 {
  background-image: url("/img/gallery/gallery-photo-11.jpg");
}
.gallery-img-bg12 {
  background-image: url("/img/gallery/gallery-photo-12.jpg");
}
.gallery-img-bg13 {
  background-image: url("/img/gallery/gallery-photo-13.jpg");
}
.gallery-img-bg14 {
  background-image: url("/img/gallery/gallery-photo-14.jpg");
}
.gallery-img-bg15 {
  background-image: url("/img/gallery/gallery-photo-15.jpg");
}
.gallery-img-bg16 {
  background-image: url("/img/gallery/gallery-photo-16.jpg");
}
.gallery-img-bg17 {
  background-image: url("/img/gallery/gallery-photo-17.jpg");
}
.gallery-img-bg18 {
  background-image: url("/img/gallery/gallery-photo-18.jpg");
}
.gallery-img-bg19 {
  background-image: url("/img/gallery/gallery-photo-19.jpg");
}
.gallery-img-bg20 {
  background-image: url("/img/gallery/gallery-photo-20.jpg");
}
.gallery-img-bg21 {
  background-image: url("/img/gallery/gallery-photo-21.jpg");
}
.gallery-img-bg22 {
  background-image: url("/img/gallery/gallery-photo-22.jpg");
}
.gallery-img-bg23 {
  background-image: url("/img/gallery/gallery-photo-23.jpg");
}
.gallery-img-bg24 {
  background-image: url("/img/gallery/gallery-photo-24.jpg");
}
.gallery-img-bg25 {
  background-image: url("/img/gallery/gallery-photo-25.jpg");
}
.gallery-img-bg26 {
  background-image: url("/img/gallery/gallery-photo-26.jpg");
}
.gallery-img-bg27 {
  background-image: url("/img/gallery/gallery-photo-27.jpg");
}